.navbar{
	margin-top: 1rem;
	margin-left: 3rem;
}
ul{
	margin-left: 4rem;
	padding-top: 1rem;
}

.streamline{
	margin-top:2rem ;
	margin-bottom: 2rem;
}

.footer{
	margin-top:2rem ;
	margin-bottom: 2rem;
}