.navbar{
	background-color: saddlebrown;
}

.jumb{
	padding-top: 2rem;
	background-color: grey;
}

.form1{
	padding-top:10rem ;
	padding-bottom: 4rem;
	padding-left:3rem ;
	background-color: skyblue;
}
.footer{
	background-color: saddlebrown;
	padding-top: 1rem;
}